<!DOCTYPE HTML>
<body>
	<h2> Tages&uuml;bersicht: Kaffeeverbrauch pro Stockwerk </h2>
	<br>
	<p> Im folgenden finden Sie eine &Uuml;bersicht zu dem aktuellen Kaffeeverbrauch auf ihrem Stockwerk </p>
	<p> sowie den durchschnittlichen Kaffeeverbrauch auf ihrem Stockwerk. Geb&auml;ude und Stockwerke, die </p>
	<p> das Kaffeekannentool noch nicht benutzen werden als inaktiv gekennzeichnet!</p>
	<table class="table-fill">
		<thead>
			<tr>
				<th class="text-left">Standort</th>
				<th class="text-left">Geb&auml;ude</th>
				<th class="text-left">Stockwerk</th>
				<th class="text-left">Aktueller Kaffeeverbrauch</th>
				<th class="text-left">&oslash; Kaffeeverbrauch</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">1</td>
				<td class="text-left">Erdgescho&szlig;</td>
				<td class="text-left" [innerHTML] = "htmlConsumB1S1"></td>
				<td class="text-left" [innerHTML] = "htmlAverB1S1"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">1</td>
				<td class="text-left">1</td>
				<td class="text-left" [innerHTML] = "htmlConsumB1S2"></td>
				<td class="text-left" [innerHTML] = "htmlAverB1S2"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">1</td>
				<td class="text-left">2</td>
				<td class="text-left" [innerHTML] = "htmlConsumB1S3"></td>
				<td class="text-left" [innerHTML] = "htmlAverB1S3"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">1</td>
				<td class="text-left" [innerHTML] = "htmlConsumB2S1"></td>
				<td class="text-left" [innerHTML] = "htmlAverB2S1"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">2</td>
				<td class="text-left" [innerHTML] = "htmlConsumB2S2"></td>
				<td class="text-left" [innerHTML] = "htmlAverB2S2"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">3</td>
				<td class="text-left" [innerHTML] = "htmlConsumB2S3"></td>
				<td class="text-left" [innerHTML] = "htmlAverB2S3"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">4</td>
				<td class="text-left" [innerHTML] = "htmlConsumB2S4"></td>
				<td class="text-left" [innerHTML] = "htmlAverB2S4"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">5</td>
				<td class="text-left" [innerHTML] = "htmlConsumB2S5"></td>
				<td class="text-left" [innerHTML] = "htmlAverB2S5"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">3</td>
				<td class="text-left">1</td>
				<td class="text-left" [innerHTML] = "htmlConsumB3S1"></td>
				<td class="text-left" [innerHTML] = "htmlAverB3S1"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">3</td>
				<td class="text-left">2</td>
				<td class="text-left" [innerHTML] = "htmlConsumB3S2"></td>
				<td class="text-left" [innerHTML] = "htmlAverB3S2"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">3</td>
				<td class="text-left">3</td>
				<td class="text-left" [innerHTML] = "htmlConsumB3S3"></td>
				<td class="text-left" [innerHTML] = "htmlAverB3S3"></td>
			</tr>
		</tbody>
	</table>
	<br><br>
  </body>