<h2> Über Uns </h2>
<br>
	<main>
		<article>
			<p> Das Kaffeekannenprojekt wurde von der Forschungsabteilung von FNT entwickelt. </p>
			<p>Firmensitz:</p>
			<p>FNT GmbH</p>
			<p>Facility Network Technology<p>
			<p>R&ouml;linger Stra&szlig;e 11<p>
			<p>D-73479 Ellwangen/Jagst</p>
			<br>
			<p>Telefon +49 (0) 7961/9039-0</p>
			<p>Telefax +49 (0) 7961/9039-439</p>
			<a href="info@fntsoftware.com">info@fntsoftware.com</a>
			<br>
			<p>Sitz: Ellwangen</p>
			<p>Handelsregister: HRB 510297</p>
			<p>Amtsgericht Ulm</p>
			<p>UST.Id Nr.: DE 166836145</p>
			<br>
			<p>Gesch&auml;ftsf&uuml;hrer:</p>
			<p>Nikolaus Albrecht</p>
			<p>Horst Haag</p>
			<br>
			<br>
		</article>
		<aside>
			<hr>
			<div id="Haftung">
			<h3>Haftungsausschluss:</h3>
			<br>
			<p><b>Inhalt des Onlineangebotes</b></p>
			<br>
			<p>Der Autor übernimmt keinerlei Gewähr über die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen.</p>
			<p>Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die duch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.</p>
			<p>Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
			<br>
			<p><b>Verweise und Links</b></p>
			<br>
			<p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.</p>
			<p>Der Autor erklärt daher ausdrücklich, dass zum Zeitpunkt der Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten waren. </p>
			<p>Der Autor hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der gelinkten/ verknüpften Seiten, die nach der Linksetzung verändert wurden. </p>
			<p>Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. </p>
			<p>Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Information entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf jeweilige Veröffentlichung lediglich verweist.</p>
			<br>
			<p><b>Urheber- und Kennzeichenrecht</b></p>
			<br>
			<p>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.</p>
			<p>Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. </p>
			<p>Allein aufgrund der bloßen Nennung ist nicht der Schluß zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!</p>
			<p>Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten.</p>
			<p> Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.</p>
			<br>
			<p><b>Datenschutz</b></p>
			<br>
			<p>Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. </p>
			<p>Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. Angabe anonymisierter Daten oder eines Pseudonyms gestattet.</p>
			<br>
			<p><b>Google Analytics</b></p>
			<br>
			<p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“).</p>
			<p>Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.</p>
			<p>Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</p>
			<p>Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. </p>
			<p>Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. </p>
			<p>Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.</p>
			<p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. </p>
			<p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. </p>
			<p>Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:</p>
			<a href="http://tools.google.com/dipage/gaoptout?hl=de">http://tools.google.com/dipage/gaoptout?hl=de</a>
			<br>
			<p>Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website verhindert:
			Google Analytics deaktivieren</p>
			<br>
			<p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter http://www.google.com/analytics/terms/de.html bzw. unter https://www.google.de/intl/de/policies/. Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um den Code „anonymizeIp“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.</p>
			<br>
			<p>Quelle: www.datenschutzbeauftragter-info.de</p>
			<br>
			<p><b>Rechtswirksamkeit dieses Haftungsauschlusses</b></p>
			<br>
			<p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verweisen wurde. </p>
			<p>Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Dokumente in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
			</div>
		</aside>
	</main>