<!-- HTML code for the navigation bar 
	a tags are links to differents HTML site which will be showed in the content area { middle part } 
-->
<ul>
	<li>
		<a routerLink="/">Startseite</a>
	</li>
	<li>
		<a routerLink="status">Status</a>
	</li>
	<div id="pint">
	<li><a routerLink="#" id="statistics">Statistiken</a>
        <ul>
          <li><a routerLink="statistic">Geb&auml;ude</a></li>
		  <li><a routerLink="person-status">Kaffeek&ouml;nig</a></li>
		  <li><a routerLink="coffee-supplier">Kaffeebrauer</a></li>
        </ul>
    </li>
	</div>
	<li>
		<a routerLink="history">History</a>
	</li>
	<li>
		<a routerLink="consumption">Tagesübersicht</a>
	</li>
	<li>
		<a routerLink="/suggestion">Vorschl&auml;ge</a>
	</li>
	<li>
		<a routerLink="about">About</a>
	</li>
</ul>
