<!DOCTYPE HTML>
<body>
	<h2> Aktueller Status der Kaffeekannen </h2>
	<br>
	<p> Im folgenden finden Sie eine &Uuml;bersicht zu den Kaffeekannen </p>
	<p> und erfahren, wann der letzte F&uuml;llvorgang der Kaffeekanne auf Ihrem Stockwerck war.</p>
	<table class="table-fill">
		<thead>
			<tr>
				<th class="text-left">Standort</th>
				<th class="text-left">Geb&auml;ude</th>
				<th class="text-left">Stockwerk</th>
				<th class="text-left">Status</th>
				<th class="text-left">Letzter F&uuml;llvorgang</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">1</td>
				<td class="text-left">Erdgescho&szlig;</td>
				<td class="text-left" [innerHTML] = "htmlB1F1"></td>
				<td class="text-left" [innerHTML] = "htmlFill1"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">1</td>
				<td class="text-left">1</td>
				<td class="text-left" [innerHTML] = "htmlB1F2"></td>
				<td class="text-left" [innerHTML] = "htmlFill2"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">1</td>
				<td class="text-left">2</td>
				<td class="text-left" [innerHTML] = "htmlB1F3"></td>
				<td class="text-left" [innerHTML] = "htmlFill3"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">1</td>
				<td class="text-left" [innerHTML] = "htmlB2F1"></td>
				<td class="text-left" [innerHTML] = "htmlFill4"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">2</td>
				<td class="text-left" [innerHTML] = "htmlB2F2"></td>
				<td class="text-left" [innerHTML] = "htmlFill5"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">3</td>
				<td class="text-left" [innerHTML] = "htmlB2F3"></td>
				<td class="text-left" [innerHTML] = "htmlFill6"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">4</td>
				<td class="text-left" [innerHTML] = "htmlB2F4"></td>
				<td class="text-left" [innerHTML] = "htmlFill7"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">2</td>
				<td class="text-left">5</td>
				<td class="text-left" [innerHTML] = "htmlB2F5"></td>
				<td class="text-left" [innerHTML] = "htmlFill8"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">3</td>
				<td class="text-left">1</td>
				<td class="text-left" [innerHTML] = "htmlB3F1"></td>
				<td class="text-left" [innerHTML] = "htmlFill9"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">3</td>
				<td class="text-left">2</td>
				<td class="text-left" [innerHTML] = "htmlB3F2"></td>
				<td class="text-left" [innerHTML] = "htmlFill10"></td>
			</tr>
			<tr>
				<td class="text-left">Ellwangen</td>
				<td class="text-left">3</td>
				<td class="text-left">3</td>
				<td class="text-left" [innerHTML] = "htmlB3F3"></td>
				<td class="text-left" [innerHTML] = "htmlFill11"></td>
			</tr>
		</tbody>
	</table>
	<br><br>
  </body>