/* Stylesheet for the plug-in */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
	width: 435px;
}

div#header {
    width: 100%;
    height: 50px;
    background-color: #2c3e50;
    margin: 0 auto;
    color: #0F275C;
}

#background {
    background-color: #fff;
    width: 100%;
    height: 100%;
    
}

label {
    font-family: Arial, sans-serif;
    color: #0F275C;
}

h3 {
    color: #0F275C;
}

/* --------------------------------- "Kaffeeverwaltung" area ---------------------------- */

input[type=text], select {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0F275C;
    height: 100%;
}

input[type=number], select {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0F275C;
    height: 100%;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #0F275C;
}

input[type=submit]:hover {
    background-color: #45a049;
    color: #0F275C;
}

::placeholder {
     color: #0F275C;
}

textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0F275C;
}

.button {
    position: relative;
    background-color: #0F275C;
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    width: 80px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
	border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1.8s;
    color: #0F275C;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    color: #0F275C;
}

.button:disabled {
  opacity: 0; 
  cursor: not-allowed;
}

#small {
    font-size: 10px; 
    font-family: cursive; 
    color: #0F275C;
}

/* --------------------------------- Fieldset ----------------------------- */

fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #AA4040;
    border-radius: 5px;
    padding: 15px;
    transition: 0s;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px 5px 12px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1 1 1 5px #fff;
    margin-left: 1px;
}

/* ----------------------------------- ProgressBar ------------------------------- */
.percent-count {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:18px;
    margin-top: 0;
    text-align: center;
    font-weight: normal;
    width: 370px;
    height: 20px;
    margin: 5px auto;
    font-size: 15;
    text-align: center;
    color: #0F275C;
}

.progress-bar {
    background-color: #eee;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress {
    z-index: 0;
    width: 370px;
    height: 23px;
    border-radius: 10px;
    background-color: #0F275C;
    margin: 1px;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #1F497D);
    border-radius: 5px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}


/* ------------------------------ "Steuerung" Area --------------------------------- */
#acceptBtn {
    width: 80px;
    height: 30px;
}

#refillBtn {
    width: 80px;
    height: 30px;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:0px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
    transition: 2s;
}

.notice {
   
    letter-spacing:2px;
    text-transform: uppercase;
    border:1px solid #0F275C;
    background-color: #1F497D;
    color: #fff;
    -webkit-box-shadow: 9px 10px 16px -6px rgba(0,0,0,1);
    -moz-box-shadow: 9px 10px 16px -6px rgba(0,0,0,1);
    box-shadow: 9px 10px 16px -6px rgba(0,0,0,1);
}

#acceptBtn {
    width: 155px;
}

/* -------------------- CSS ANIMATION ------------------------ */
#animation {
    z-index: 500;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:600px;
    height:35px;
    
    background-repeat:no-repeat;
    background-origin:border-box;
    background-position:50% 50%;
    
    border-width:50px;
    border-color:rgba(0,0,0,0);
    
    transition:0.3s ease;
    opacity: 1;   
}

